<!DOCTYPE html>
<html>
  <body>
    <p>Hello from Gym Tracker,</p>

    <p>You are receiving this email because you requested a password reset for your user account.</p>

    <p>Please use the link below to choose a new password:</p>
    <p><a href="{{ password_reset_url }}">Reset your password</a></p>

    <p>For reference (in case you need to paste into the app):</p>
    <ul>
      <li>UID: <code>{{ uid }}</code></li>
      <li>TOKEN: <code>{{ key }}</code></li>
    </ul>

    <p>If you didn't request this, please ignore this email.</p>

    <p>Thanks,<br/>The Gym Tracker Team</p>
  </body>
</html>
